    @import "./bootstrap.min.css";
    @import "./owl.carousel.min.css";
    @import "fonts.css";
    @import "variables";
    body {
        font-family: 'Roboto';
        background-color: $whitesmoke;
    }
    
    p {
        padding: 0;
        margin: 0;
    }
    
    a {
        cursor: pointer;
    }
    
    .navbar {
        padding: 30px 0;
        background-color: $whitesmoke;
        .navbar-brand-img {
            height: 50px;
        }
    }
    
    .main-description {
        font-family: 'Merriweather';
        font-weight: 300;
        font-size: 30px;
        color: $black;
        &.collapse:not(.show)~.shadow-decor {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100px;
            background: rgb(248, 249, 250);
            background: linear-gradient(90deg, rgba(248, 249, 250, .5) 80%, rgba(252, 252, 252, 1) 100%);
        }
    }
    
    .subtitle {
        font-family: 'Merriweather';
        font-weight: 300;
        font-size: 20px;
        color: $black;
    }
    
    .btn-primary {
        font-weight: 400;
        font-size: 20px;
        padding: 17px 50px;
        color: $white;
        background: linear-gradient(90deg, $mediumpurple 0%, $deepskyblue 100%);
        border-radius: 30px;
        border: none;
        &:hover {
            background: linear-gradient(90deg, rgba(191, 62, 254, .7), rgba(27, 158, 255, .7))
        }
    }
    
    .btn-primary.disabled,
    .btn-primary:disabled {
        color: $silver;
        background-color: $whitesmoke;
        border: 1px solid $silver;
        background: transparent;
    }
    
    .btn-check:focus+.btn-primary,
    .btn-primary:focus {
        box-shadow: none!important;
    }
    
    .form-control {
        font-weight: 300;
        font-size: 20px;
        padding: 16px 25px;
        background-color: transparent;
        color: $black;
        border: 1px solid $black;
        border-radius: 30px;
        transition: all .4s;
        width: 378px;
        &:focus {
            background-color: transparent;
            outline: none;
            box-shadow: none;
            border: 2px solid $black;
            padding: 15px 25px;
            transition: .2s;
        }
        &::placeholder {
            color: $silver;
        }
    }
    
    .badge {
        font-family: 'Merriweather';
        font-weight: 300;
        font-size: 16px;
        line-height: initial;
        padding: 6px 8px;
        border-radius: 5px;
    }
    
    .shadow-bg {
        position: relative;
        border: 25px solid $white;
        border-radius: 40px;
        background-color: $white;
        iframe {
            border-radius: 10px!important;
        }
    }
    
    input {
        outline: none;
    }
    
    .hero {
        background-color: #F6F7FD;
    }
    
    .list-items {
        padding-left: 4em;
        li {
            font-family: 'Merriweather';
            font-weight: 300;
            font-size: 20px;
            color: $black;
            list-style-type: none;
            padding-bottom: 20px;
            &::before {
                content: '';
                display: inline-block;
                width: 15px;
                height: 15px;
                border-radius: 50px;
                background-color: $mediumpurple;
                margin-left: -35px;
                margin-right: 25px;
            }
        }
    }
    
    .company {
        background: linear-gradient(to bottom, $aliceblue 50%, $whitesmoke 50%);
        .owl-carousel .owl-item img {
            width: initial;
        }
        .owl-carousel .owl-nav button.owl-prev {
            content: "\e903";
            color: #000000;
            font-size: 60px;
            position: absolute;
            top: -15px;
            left: -50px;
        }
        .owl-carousel .owl-nav button.owl-next {
            content: "\e902";
            color: #000000;
            font-size: 60px;
            position: absolute;
            top: -15px;
            right: -50px;
        }
        .company-block {
            background-color: $white;
            border-radius: 40px;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.02)!important;
            padding: 60px 90px;
        }
    }
    
    .ready-to-start {
        background-image: linear-gradient(rgba(100, 62, 254, .79), rgba(100, 62, 254, .79)), url('../images/start-bg.png');
        background-repeat: no-repeat;
        padding: 104px 0 200px;
    }
    
    .footer {
        background-color: #F1F3FF;
        padding: 63px 0;
        a {
            font-size: 18px;
            color: $black;
            &:focus,
            &:hover {
                color: #7F7F7F;
            }
        }
        .social-link {
            font-size: 35px;
            margin: 0 9px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            &:last-child {
                margin-right: 0;
            }
            &:focus {
                color: $black;
            }
            &:hover {
                color: rgba(0, 0, 0, 0.5);
            }
        }
        .go-to-bottom {
            &:after {
                font-family: 'icomoon';
                content: "\e904";
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: center;
                text-align: center;
                width: 50px;
                height: 50px;
                font-size: 14px;
                color: $white;
                background: linear-gradient(70deg, $mediumpurple 0%, $deepskyblue 100%);
                border-radius: 50px;
                position: absolute;
                bottom: 280px;
                right: 30px;
                @media (min-width: 768px) {
                    display: none;
                }
            }
        }
    }
    
    @media (max-width: 1200px) {
        h1 {
            font-size: 50px!important;
        }
        h2 {
            font-size: 25px!important;
        }
        h3 {
            font-size: 25px!important;
            margin-bottom: 24px;
        }
        p {
            font-size: 16px!important;
        }
        .main-description {
            font-size: 18px!important;
        }
        .subtitle {
            font-size: 16px!important;
        }
        .form-control {
            font-size: 16px!important;
            width: 100%;
        }
        .shadow-bg {
            border: none;
        }
        .pt-110px {
            padding-top: 50px;
        }
        .pt-194px {
            padding-top: 88px;
        }
        .pt-294px {
            padding-top: 150px;
        }
        .pb-40px {
            padding-bottom: 30px;
        }
        .pb-63px {
            padding-bottom: 15px;
        }
        .pb-110px {
            padding-bottom: 50px;
        }
        .pb-135px {
            padding-bottom: 20px;
        }
        .pb-163px {
            padding-bottom: 57px;
        }
        .p-60px {
            padding: 30px;
        }
        .font-size-24px {
            font-size: 22px!important;
        }
        .font-size-20px {
            font-size: 14px!important;
        }
        .badge {
            font-size: 12px!important;
        }
        .rounded-pill {
            border-radius: 15px!important;
        }
        .navbar {
            padding: 20px 0;
            .navbar-brand-img {
                height: 30px;
            }
        }
        .block-bg {
            background-color: $white;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.02)!important;
            border-radius: 21px;
            padding: 25px 20px;
        }
        .company {
            background: transparent;
            .company-block {
                background-color: transparent;
                box-shadow: none!important;
                padding: 60px 0 0;
            }
        }
        .list-items {
            padding-left: 40px;
            li {
                &::before {
                    width: 10px;
                    height: 10px;
                }
            }
        }
        .testimonials {
            background-color: $aliceblue!important;
        }
        .footer {
            background-color: $white!important;
        }
    }
    
    @media (min-width: 1200px) and (max-width: 1900px) {
        h1 {
            font-size: 56px!important;
        }
        .pb-135px {
            padding-bottom: 55px;
        }
        .btn-primary {
            padding: 17px 16px;
        }
    }
    
    @media (min-width: 1920px) {
        .container {
            max-width: 1642px;
        }
    }